body{
    font-family: monospace;
}

ul{
    font-family: Arial, Helvetica, sans-serif;
}

li{
    list-style: circle;
}

.list{
    list-style: square;
}

#msg{
    font-family: monospace;
}

.light-theme{
    color: black;
    background: plum;
}

.dark-theme{
    --bg: var(--black);
    --fontColor: var(--plum);
}

:root{
    --plum: rgb(221, 160, 221);
    --white: #ffffff;
    --black: #000000;
}

*{
    color: var(--fontColor);
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: var(--bg);
}

.btn{
    color: var(--btnFontColor);
}

.btn{
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn:focus { outline-style: none; }

.light-theme{
    --bg: var(--plum);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

.dark-theme{
    --bg: var(--black);
    --fontColor: var(--white);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}

